<html>

    <head>
        
        <link href="../webjars/bootstrap/3.3.6/css/bootstrap.min.css"
              rel="stylesheet">
        <script src="../webjars/jquery/1.9.1/jquery.min.js"></script>
        <script src="../webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <meta charset="utf-8">
        <style>
            #title {
                text-align: center;
            }
            
            #direction {
                width: 50px;
                height: 50px;
            }
            #weather {
            	width : 100px;
            	height: 75px;
            }
        </style>

        <script>

            $(document).ready(function(){
            
                


                $('#submit').click(function(){
                    
                    $("#tabela tbody tr").remove();
                    $("#tabela").removeClass("hidden");
                    let place = $("#place").val();
                    let days = $("#days").val();
                    $("#titulo").text("Resultados para o distrito " + place);
                    $.ajax({
                        url: '/places/' + place + '/' + days,
                        type: 'GET'
                    }).fail(console.error)
                    .done(writeOnModal);

                })

                function writeOnModal(request){
                    //console.log(request);

                    let index = 0;
                    for (let obj in request){
                        let write = request[obj];
                        console.log(index + " in");
                        getDescription(write, index);
                        
                        console.log(index + " out");
                        index++;
                    }
                }
                
                function getDescription(write, index){
                    $.ajax({
                        url: '/weather/' + write["idWeatherType"],
                        type: 'GET',
                        success : function(data){
                            
                            console.log(index + "write");
                            $("#adicionar").append($("<tr> </tr>").append($("<td> </td>").text(write['forecastDate'])).append($("<td> </td>").text(write['tMin']))
                            .append($("<td> </td>").text(write['tMax'])).append($("<td> </td>").append($("<img />", 
                                {
                                "src" : "../../" + write['predWindDir'] + ".png",
                                "id" : "direction"
                                })))
                            .append($("<td> </td>").text(write['precipitaProb'])).append($("<td> </td>").append($("<img />", 
                                {
                                "src" : "../../" + data['url'],
                                "id" : "weather"
                                }))));
                        },
                        async: false
                    
                    })
                    
                    
                    
                    
                    
                }


            })

        </script>
    </head>

    <body>

        <div class="container">
            <br/>
            <br/>
            <div class="header">
                <h1 id="title"> Meteorologia </h1>
            </div>

            <br/>
            <br/>
            <div class="body">

                <div class="form">
                    <div class="row">

                        <div class="col-md-2"></div>
                        <div class="form-group col-md-4">
                            <label for="place">Selecione o distrito</label>
                            <select class="form-control" id="place">
                                <option th:each="place : ${places}" th:value=" ${place.name}" th:text="${place.name}"></option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="days">Selecione o número de dias</label>
                            <select class="form-control" id="days">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>

                        <div class="form-group col-md-6">
                            <button id="submit" class="btn btn-primary form-control">Submeter</button>
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                </div>

            </div>
            
            <br/>
            <br/>

            <!-- resultados da API -->
            <div class="results">
                <h1 id="titulo"></h1>
                <br/>
                <table class="table hidden" id='tabela'>
                    <thead>
                        <tr>
                            <th scope="col">dia</th>
                            <th scope="col">Temp. Mínima</th>
                            <th scope="col">Temp. Máxima</th>
                            <th scope="col">Vento</th>
                            <th scope="col">Prob. Precipitação </th>
                            <th scope="col"> Descrição do Tempo </th>
                        </tr>
                    </thead>
                    <tbody id="adicionar">
                        
                    </tbody>
                </table>

            </div>
			<br/>
			<br/>
                        
        </div>
        <hr/>
            <div class="footer">
                <footer class="footer mt-auto py-3">
                    <div class="container">
                        <span class="text-muted"> @lbarros - 2019</span>
                    </div>
                </footer>
            </div>
        <br/>
    </body>


</html>
